.nav-item img {
    width: 24px;
    height: 24px;
}

.dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #222;
}

body {
    height: 100vh;
    font-family: "Golos Text";
}

.profile {
    width: 70%;
    margin-top: 5%;
}

.avatar {
    width: 70px;
    height: 70px;
    border-radius: 16px;
}

.name {
    font-size: 32px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 10px;
}
.post-img {
    width: 322.35px;
    height: 322.35px;
}

.text {
    font-size: 14px;
    margin: 0;
}

.counter {
    font-size: 15px;
    font-weight: 400;
    background-color: #f2f3f5;
    padding: 6px 10px;
    border-radius: 6px;
}
